
$white: rgb(250, 250, 250);
$blue: #EE8300;
$gray-600: #353C3C;
$yellow: rgb(243, 178, 29);
$enable-hover-media-query: true;
$enable-gradients: true;
$border-radius: 1rem;
$border-radius-lg: 1rem;
$border-radius-sm: 1rem;
$font-family-sans-serif: Poppins;